
.tabs-menu-2.w-tab-menu.pt-3 {
    background: white !important;
}

.ilan-aciklama-alani p span {
    width: auto;
}

.fa-3x {
    font-size: 2em !important;
}

.gittibu {
    position: initial !important;
    float: left;
    right: initial !important;
    top: initial !important;
    padding-left: 5px;
    border-bottom-left-radius: 0 !important;
}

.advert-sm-icons li {
    padding-left: 1rem;
    padding-right: 0.7rem !important;
    float: left;
    text-align: center;
}

.color-f00 {
    color: #333 !important;
}

.font-weight-800 {
    font-weight: inherit;
}
.passive-ad-warning {
    font-weight: bold;
    color: #e70c1e;
    font-size: 1.3rem;
}
@media (max-width: 767px) {
    .w-container .h-kat h4 {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}

@media (min-width: 767px) {
    .m-f-r {
        float: right !important;
    }
}

.pCategories {
    margin-top: 10px !important;
}

.p-t-2 {
    padding-top: 2rem !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.product.product-c {
    width: 15%;
    height: auto;
    padding-bottom: 0;
    margin: auto;
}

.div-block-11 {
    width: 40%;
}

.web-site {
    width: 20% !important;
}

.web-site-border {
    border-bottom: 1px solid #afceef;
    padding: 5px;
    font-size: 12px;
}
/* a.tab-link-2.w--current {
            color: white !important;
            background-color: #0000B0;
        }
        a.tab-link-2 {
            color: #9e9e9e !important;
            border: 1px solid #f3f3f3;
        }
        .tab-link-2 {
            height: 40px;
            background-color: #ffffff;
        }*/
@media (max-width: 992px) {
    .div-block-11 {
        width: 45%;
    }

    .web-site {
        width: 25% !important;
    }

    .tab-link-2 {
        height: 50px;
    }

    a.tab-link-2.w-inline-block.w-tab-link {
        padding-left: 17px;
        padding-right: 5px;
        width: 35%;
        display: inline-block;
    }

    a.tab-link-2.w-inline-block.w-tab-link {
        width: 30%;
        padding-left: 10px;
        display: inline-block;
    }

        a.tab-link-2.w-inline-block.w-tab-link.w--current {
            width: 35%;
            padding-left: 5px;
            font-size: 14px !important;
            padding-right: 5px;
            display: inline-block;
        }

    .w-container .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .tab-link-2.w--current {
        height: 50px;
    }
}

.heading-4.alt-oz.oz-karsi {
    float: left;
}

/*.kargo-maliyet {
            margin-top: 10px;
        }*/
a.tab-link-2 {
    margin-left: -2px !important;
    color: #9e9e9e !important;
}

.w-tab-menu {
    background: #e9e9e9;
}

.tab-link-2 {
    background: #e9e9e9;
    color: black !important;
}

    .tab-link-2.w--current {
        background-color: #0000B0 !important;
        color: white !important;
        border-style: inherit !important;
    }

#scrollTop {
    bottom: 30px !important;
}

a.tab-link-2 {
    color: black !important;
}

    a.tab-link-2.w--current {
        color: white !important;
    }

.detay-btn {
    display: inline-block;
    float: left;
    width: 77px;
    background: #0000B0;
    border: 1px solid #80808047;
    text-align: center;
    margin: 4px;
    height: 23px;
    border-radius: 3px;
    color: white;
}

.detay-col .col-xs-12.col-sm-12.col-md-6.col-lg-6 {
    border-bottom: 1px solid #80808029;
    padding: 5px;
    font-size: 13px;
}

.border-yeni {
    border-bottom: none !important;
}

.kategori-width {
    width: 25% !important;
}

.kategori-desktop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 155px;
    text-align: right;
}

.web-site-w {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 340px;
}

@@media (max-width: 992px) {
    .border-yeni {
        border-bottom: none !important;
    }

    .kategori-desktop {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 190px;
    }

    .web-site-w {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 195px;
        text-align: right;
    }

    .kategoriler.text-alt img {
        width: 30px !important;
    }
}

.urun-alt {
    padding-top: 0px;
    background-color: white;
}

.div-block-10,
.div-block-10.urun2:nth-child(odd) {
    background: white !important;
}

.benzer-urun.col-xs-12.col-sm-12.col-md-3.col-lg-3 {
    -webkit-box-shadow: 11px 7px 17px 5px rgba(240,237,240,0.76);
    -moz-box-shadow: 11px 7px 17px 5px rgba(240,237,240,0.76);
    box-shadow: 11px 7px 17px 5px rgba(240,237,240,0.76);
    padding: 10px;
    box-shadow: 0 0 25px -7px rgba(0, 0, 0, .44);
    transition: all .4s ease;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .col-lg-3.benzer-urun {
        max-width: 23%;
    }
}

.benzer-urun .new-price {
    color: #da1323;
}

@media screen and (min-width: 1200px) {

    .w-container {
        max-width: 906px !important;
    }
}
