

@{
    ViewBag.Title = "Sayfa Bulunamadı";
    Layout = "_Layout";
    var lang = Constants.GetLang(Context.Session.GetString("lang"));
}

<div class="min-height-500 p-t-150 text-center">
    
    <img src="/Content/img/404.png" />
    <br/><br/>
    <h2>@Localization.Get("Aradığınız Sayfa Bulunamadı", "Page Not Found", lang)</h2>
    <br/><br/><br/><br/>
</div>
