<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">

        <li class="m-menu__item" id="menu-item-dashboard">
            <a href="/AdminPanel/Dashboard" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">Anasayfa</span>
            </a>
        </li>
        
        <li class="m-menu__section">
            <h4 class="m-menu__section-text">Web Site Yönetimi</h4>
            <i class="m-menu__section-icon flaticon-more-v2"></i>
        </li>

        <li class="m-menu__item" aria-haspopup="true" id="menu-item-users">
            <a href="/AdminPanel/Users" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-users"></i>
                <span class="m-menu__link-text">Üyeler</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-submerchants">
            <a href="/AdminPanel/SubMerchants" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-home"></i>
                <span class="m-menu__link-text">Alt Üye İşyerleri</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-settings">
            <a href="/AdminPanel/Settings" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-settings"></i>
                <span class="m-menu__link-text">Ayarlar</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-contents">
            <a href="/AdminPanel/Contents" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">İçerikler</span>
            </a>
        </li>
        
        
        
        <li class="m-menu__section ">
            <h4 class="m-menu__section-text">Pazar Yeri Yönetimi</h4>
            <i class="m-menu__section-icon flaticon-more-v2"></i>
        </li>

        <li class="m-menu__item" aria-haspopup="true" id="menu-item-banners">
            <a href="/AdminPanel/Banners" class="m-menu__link ">
                <i class="m-menu__link-icon la la-bullhorn"></i>
                <span class="m-menu__link-text">Bannerlar</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-adverts">
            <a href="/AdminPanel/Adverts" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-open-box"></i>
                <span class="m-menu__link-text">İlanlar</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-ad-categories">
            <a href="/AdminPanel/AdvertCategories" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-more-v5"></i>
                <span class="m-menu__link-text">İlan Kategorileri</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-xmlList">
            <a href="/AdminPanel/Parse" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-edit-1"></i>
                <span class="m-menu__link-text">XML'ler</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-products">
            <a href="#" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-comment"></i>
                <span class="m-menu__link-text">Blog Yorumları</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-prs">
            <a href="/AdminPanel/PaymentRequests" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-cart"></i>
                <span class="m-menu__link-text">Siparişler</span>
            </a>
        </li>
        
        
        
        <li class="m-menu__section ">
            <h4 class="m-menu__section-text">Müşteri İlişkileri Yönetimi</h4>
            <i class="m-menu__section-icon flaticon-more-v2"></i>
        </li>

        <li class="m-menu__item" aria-haspopup="true" id="menu-item-memberships">
            <a href="#" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-lifebuoy"></i>
                <span class="m-menu__link-text">Destek</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-users">
            <a href="#" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-danger"></i>
                <span class="m-menu__link-text">Şikayet</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-users">
            <a href="#" class="m-menu__link ">
                <i class="m-menu__link-icon la la-plus"></i>
                <span class="m-menu__link-text">İstek</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-users">
            <a href="#" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-support"></i>
                <span class="m-menu__link-text">İletişim</span>
            </a>
        </li>
        <li class="m-menu__item" aria-haspopup="true" id="menu-item-log">
            <a href="/AdminPanel/Logs" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-paper-plane"></i>
                <span class="m-menu__link-text">Log</span>
            </a>
        </li>
        
        
        
        
    
        @*<li class="m-menu__item" aria-haspopup="true" >
            <a href="/Account/SignOut" class="m-menu__link ">
                <i class="m-menu__link-icon flaticon-close"></i>
                <span class="m-menu__link-text">Çıkış Yap</span>
            </a>
        </li>*@
	
    </ul>
</div>