@model List<Advert>

@{
    ViewBag.Title = "İlanlar";
    Layout = "AdminLayout";
    ViewData["ActiveMenu"] = "menu-item-adverts";
}

@section Styles{
    <link href="/AdminContent/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
}

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    İlanlar
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
               <a href="/AdminPanel/Adverts/ExcelExport" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air" style="float:right; border: 1px;">Excel Report</a>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="table-responsive">
            <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Başlık</th>
                    <th>Kullanıcı</th>
                    <th>Kategori</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
                </thead>
            </table>
        </div>
        
    </div>
</div>

@section Scripts{
    <script src="/AdminContent/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script>

        $("#m_table_1").DataTable({
            order: [0, 'desc'],
            dom:
                "<'row'<'col-sm-6 text-left'f><'col-sm-6 text-right'B>>\n\t\t\t<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>",
            buttons: ["print", "copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],
            processing: true,
            serverSide: true,
            "pageLength": 25,
            ajax: {
                url: "/AdminPanel/Listing/GetList",
                type: "POST"
            },
            columns: [
                { data: "id" },
                { data: "title" },
                { data: "user.name" },
                { data: "categorySlug" },
                { data: "isActive"  },
                { data: "Seçenekler" }
            ],
            columnDefs: [
                {
                    targets: -1,
                    title: 'Seçenekler',
                    orderable: false,
                    render: function(data, type, full, meta) {
                        @*console.log(full);*@
                        var html = `
                        <div class="btn-group btn-group-sm" role="group">
                        <a href="/AdminPanel/Adverts/Details/${full.id}" class="m-btn btn btn-info" title="Detaylar">
                            <i class="la la-bars"></i>
                        </a>
                        <a href="/AdminPanel/Adverts/AddDoping/${full.id}" class="m-btn btn btn-primary" title="Doping Ekle">
                            <i class="la la-plus"></i>
                        </a>
                        `;
                        if (full.isActive) {
                            html += `
                            <button id="isActive_${full.id}" onclick="updateStatusMessage(${full.id}, false, '${full.title}')" class="m-btn btn btn-warning" title="Pasifleştir">
                                <i id="isActivei_${full.id}" class="la la-close"></i>
                            </button>
                            `;
                        } else {
                            html += `
                            <button id="isActive_${full.id}" onclick="updateStatusMessage(${full.id}, true, '${full.title}')" class="m-btn btn btn-success" title="Aktifleştir">
                                <i id="isActivei_${full.id}" class="la la-check"></i>
                            </button>
                            `;
                        }
                        html += `
                             <button onclick="deleteMessage(${full.id},'${full.title}')" class="m-btn btn btn-danger" title="Sil">
                                <i class="la la-trash"></i>
                            </button>
                        `;

                        html += "</div>";
                        return html;
                    },
                },
                {   
                    targets: 4,  
                    render: function(data, type, full, meta) {
                        var id=full.id;
                        if (data === true) { 
                            return '<div id="status_'+id+'">'+ "Aktif"+'</div>' ;
                        } else {
                            return '<div id="status_'+id+'">'+ "Pasif"+'</div>' ;
                        }
                    }
                },
            ]
        });


    </script>
    <script>
        function updateStatusMessage(id, isActive, title) {
            var status = isActive ? "aktifleştirmek" : "pasifleştirmek";

            Swal({
                title: '#' + id + ' ' + title + ' başlıklı ilanı ' + status + ' istediğinize emin misiniz?',
                text: "İlan güncellenmek üzere",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.value) {
                    updateStatus(id, isActive);
                }
            });
        }

        function updateStatus(id, status) {
            var newStatus = status ? "Aktif" : "Pasif";
            $.ajax({
                url: "/AdminPanel/UpdateListingStatus",
                type: "POST",
                data: { id, status },
                success: function(data) {
                    if (data.isSuccess) {
                        $('#status_' + id).html(newStatus);
                        if(newStatus=="Pasif"){
                             $('#isActive_' + id).removeClass("btn-warning").addClass("btn-success");
                             $('#isActivei_' + id).removeClass("la-close").addClass("la-check");
                             $('#isActive_' + id).attr("title", "Pasifleştir");
                             
                        }else{
                             $('#isActive_' + id).removeClass("btn-success").addClass("btn-warning");
                              $('#isActivei_' + id).removeClass("la-check").addClass("la-close");
                              $('#isActive_' + id).attr("title", "Aktifleştir");
                        }

                        notify("success", data.message);
                    } else {
                        notify("danger", data.message);
                    }
                }
            });
        }
    </script>
    <script>
        function deleteMessage(id, title) {
            Swal({
                title: '#' + id + ' ' + title + ' başlıklı ilanı silmek istediğinize emin misiniz?',
                text: "İlan silindiğine ilan ile ilişkili alt kaytlar da erişilemez olabilir.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet',
                cancelButtonText: 'Vazgeç'
            }).then((result) => {
                if (result.value) {
                    deleteAd(id);
                }
            });
        }

        function deleteAd(id) {
            $.ajax({
                url: "/AdminPanel/DeleteListing",
                type: "POST",
                data: { id },
                success: function(data) {
                    if (data.isSuccess) {
                        $('#row_' + id).remove();
                        notify("success", data.message);
                    } else {
                        notify("danger", data.message);
                    }
                }
            });
        }
    </script>
}
