@model SystemSetting

@{
    ViewBag.Title = "Sistem Tercih Ayarı";
    Layout = "AdminLayout";
    ViewData["ActiveMenu"] = "menu-item-settings";
}

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    #@Model.ID | @Model.Name
                </h3>
            </div>
        </div>
    </div>

    
    @using(Html.BeginForm("EditSetting", "Settings", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" }))
    {
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-1 col-form-label">Ad:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control m-input" value="@Model.Name" readonly>
                </div>
                <label class="col-lg-1 col-form-label">Değer:</label>
                <div class="col-lg-6">
                    <input type="text" class="form-control m-input" name="Value" value="@Model.Value">
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
            <div class="m-form__actions m-form__actions--solid">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                        <a href="/AdminPanel/Settings" class="btn btn-secondary">Vazgeç</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
