@model Banner

<div class="ayirackalip splitbanner">
    <a href='@(Model.Url.Contains("http") ? Model.Url : "http://"+Model.Url)' title="@Model.Title" target="_blank">
        <div class="section-2" style="background-size: contain; background-repeat: no-repeat; background-image: url('@(Model.ImageSource)');">
            <div class="div-ad-text">
                
            </div>
        </div>
    </a>
</div>